
/lib/libssfRU.lib
/lib/log4cplus_staticRU.lib
/lib/strmbaseRU.lib
/lib/subpicRU.lib
/lib/subtitlesRU.lib
/lib/a_yuv2rgb.obj
/lib/a_yuvtable.obj
/lib/basevideofilterRU.lib
/lib/convert_a.obj
/lib/dsutilRU.lib
/src/dsutil/Release Unicode
/src/subtitles/libssf/Release Unicode
/src/subtitles/Release Unicode
/src/filters/transform/basevideofilter/Release Unicode lib
/src/filters/transform/vsfilter/Release Unicode
/src/filters/transform/vsfilter/ipch
/src/filters/transform/vsfilter/VSFilter_vs2010.sdf
/src/filters/transform/vsfilter/VSFilter.aps
/src/filters/BaseClasses/BaseClasses_2010/Release Unicode
/src/filters/transform/vsfilter/vsfilter_2010/Release Unicode
/src/log4cplus/msvc10/Win32
/src/subpic/Release Unicode
/src/filters/transform/vsfilter/vsfilter_2010/vsfilter_2010.sdf
/src/filters/transform/vsfilter/vsfilter_2010/vsfilter_2010.sdf
/src/filters/transform/vsfilter/VSFilter_vs2010.opensdf
/src/filters/transform/vsfilter/mpc-hc110916.vsp
/src/filters/transform/vsfilter/VSFilter_vs2010.suo